.showcase-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.poke-type {
  background-color: green;
  color: white;
}

.poke-move {
  background-color: white;
  color: green;
}
